*,
*:before,
*:after {
	box-sizing: inherit;
}

.wf {
	font-family: "Almarai", sans-serif;
}
.wf_whatsapp-button:active {
	border: none;
}
.wf_whatsapp-button {
	outline: none !important;
	background-color: #39887c;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 12px;
	display: flex;
	color: #fff;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	position: fixed;
	z-index: 99999;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	right: 30px;
	outline: none;
	bottom: 30px;
}
.wf_whatsapp-button.wf_invert {
	color: #39887c;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px;
}
.wf_whatsapp-button .zmdi {
	margin: -1px 0 0px 1px;
	font-size: 37px;
	font-weight: 100;
}

.wf_welcome_alert_container {
	-webkit-animation: closed 300ms;
	-moz-animation: closed 300ms;
	-ms-animation: closed 300ms;
	-o-animation: closed 300ms;
	animation: closed 300ms;
	opacity: 0;
	display: none;
	max-width: 320px;
	z-index: 99999;
	position: fixed;
	right: 30px;
	bottom: 100px;
	direction: rtl;
	padding-left: 35px;
}
.close_wf_welcome_alert {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	background: #333;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
}
.wf_welcome_alert {
	max-width: 320px;
	right: 30px;
	cursor: pointer;
	bottom: 100px;
	border-radius: 8px;
	overflow: hidden;
	background: #eee;
	box-shadow: rgb(0 0 0 / 20%) 0px 12px 24px 0px;
	padding: 10px;
}
.wf_whatsapp {
	width: 320px;
	height: 370px;
	z-index: 99999;
	position: fixed;
	right: 30px;
	display: none;
	bottom: 100px;
	opacity: 0;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 24px 0px;
	direction: ltr;
	-webkit-animation: closed 300ms; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: closed 300ms; /* Firefox < 16 */
	-ms-animation: closed 300ms; /* Internet Explorer */
	-o-animation: closed 300ms; /* Opera < 12.1 */
	animation: closed 300ms;
}
.wf_whatsapp .wf_screen {
	height: 100%;
}
@keyframes closed {
	from {
		opacity: 1;
		bottom: 100px;
	}
	to {
		opacity: 0;
		bottom: 70px;
	}
}

@keyframes opened {
	from {
		opacity: 0;
		bottom: 70px;
	}
	to {
		opacity: 1;
		bottom: 100px;
	}
}

.wf_whatsapp.wf_opened,
.wf_welcome_alert_container.wf_opened {
	opacity: 1;
	display: block;
	-webkit-animation: opened 300ms; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: opened 300ms; /* Firefox < 16 */
	-ms-animation: opened 300ms; /* Internet Explorer */
	-o-animation: opened 300ms; /* Opera < 12.1 */
	animation: opened 300ms;
}
.wf_screen-container {
	height: 100%;
}

/* Chat */

.wf_chat {
	height: calc(100% - 69px);
}

.wf_chat-container {
	height: 100%;
}

/* User Bar */

.wf_user-bar {
	height: 55px;
	background: #005e54;
	color: #fff;
	padding: 0 8px;
	font-size: 24px;
	position: relative;
	z-index: 1;
}

.wf_user-bar:after {
	content: "";
	display: table;
	clear: both;
}

.wf_user-bar div {
	float: left;
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}

.wf_user-bar .wf_actions {
	float: right;
	color: #fff;
	margin: 0 0 0 20px;
}
.wf_user-bar .wf_actions a {
	color: #fff;
}

.wf_user-bar .wf_actions.wf_close {
	margin: 0 12px 0 2px;
	cursor: pointer;
	position: absolute;
	right: 5px;
}

.wf_user-bar .wf_actions.wf_call {
	margin: 0 12px 0 2px;
	cursor: pointer;
	position: absolute;
	right: 35px;
}

.wf_user-bar .wf_actions.wf_attachment {
	margin: 0 0 0 30px;
}

.wf_user-bar .wf_actions.wf_attachment i {
	display: block;
	transform: rotate(-45deg);
}

.wf_user-bar .wf_avatar {
	margin: 0 0 0 5px;
	width: 36px;
	height: 36px;
}

.wf_user-bar .wf_avatar img {
	border-radius: 50%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	display: block;
	width: 100%;
}

.wf_user-bar .wf_name {
	font-size: 17px;
	font-weight: 600;
	text-overflow: ellipsis;
	letter-spacing: 0.3px;
	margin: 0 0 0 8px;
	overflow: hidden;
	white-space: nowrap;
	width: 150px;
}

.wf_user-bar .wf_status {
	display: block;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0;
}

/* Conversation */

.wf_conversation {
	height: calc(100% + 14px);
	position: relative;
	background: #ede5dd url("../assets/bg.jpg") repeat;
	z-index: 0;
}

.wf_conversation ::-webkit-scrollbar {
	transition: all 0.5s;
	width: 5px;
	height: 1px;
	z-index: 10;
}

.wf_conversation ::-webkit-scrollbar-track {
	background: transparent;
}

.wf_conversation ::-webkit-scrollbar-thumb {
	background: #b3ada7;
}

.wf_conversation .wf_conversation-container {
	height: calc(100% - 68px);
	box-shadow: inset 0 10px 10px -10px #000000;
	overflow-x: hidden;
	padding: 0 16px;
	margin-bottom: 5px;
}

.wf_conversation .wf_conversation-container:after {
	content: "";
	display: table;
	clear: both;
}

/* Messages */

.wf_message {
	color: #333;
	clear: both;
	line-height: 18px;
	font-size: 15px;
	padding: 8px;
	position: relative;
	margin: 8px 0;
	max-width: 85%;
	word-wrap: break-word;
	z-index: -1;
}

.wf_message:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
}

.wf_metadata {
	display: inline-block;
	padding: 0 0 0 7px;
	position: relative;
	bottom: -4px;
}

.wf_metadata .wf_time {
	color: rgba(0, 0, 0, 0.45);
	font-size: 11px;
	display: inline-block;
}

.wf_metadata .wf_tick {
	display: inline-block;
	margin-left: 2px;
	position: relative;
	top: 4px;
	height: 16px;
	width: 16px;
}

.wf_metadata .wf_tick svg {
	position: absolute;
	transition: 0.5s ease-in-out;
}

.wf_metadata .wf_tick svg:first-child {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: perspective(800px) rotateY(180deg);
	transform: perspective(800px) rotateY(180deg);
}

.wf_metadata .wf_tick svg:last-child {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: perspective(800px) rotateY(0deg);
	transform: perspective(800px) rotateY(0deg);
}

.wf_metadata .wf_tick-animation svg:first-child {
	-webkit-transform: perspective(800px) rotateY(0);
	transform: perspective(800px) rotateY(0);
}

.wf_metadata .wf_tick-animation svg:last-child {
	-webkit-transform: perspective(800px) rotateY(-179.9deg);
	transform: perspective(800px) rotateY(-179.9deg);
}

.wf_message:first-child {
	margin: 16px 0 8px;
}

.wf_message.wf_received {
	background: #fff;
	border-radius: 0px 5px 5px 5px;
	float: left;
}

.wf_message.wf_received .wf_metadata {
	padding: 0 0 0 16px;
}

.wf_message.wf_received:after {
	border-width: 0px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
	top: 0;
	left: -10px;
}

.wf_message.wf_sent {
	background: #e1ffc7;
	border-radius: 5px 0px 5px 5px;
	float: right;
}

.wf_message.wf_sent:after {
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #e1ffc7;
	top: 0;
	right: -10px;
}

/* Compose */

.wf_conversation-compose {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	overflow: hidden;
	height: 50px;
	width: 100%;
	z-index: 2;
}

.wf_conversation-compose div,
.wf_conversation-compose input {
	background: #fff;
	height: 100%;
}

.wf_conversation-compose .wf_emoji {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 5px 0 0 5px;
	flex: 0 0 auto;
	margin-left: 8px;
	width: 48px;
}

.wf_conversation-compose .wf_input-msg {
	flex: 1 1 auto;
	font-size: 16px;
	margin: 0;
	outline: none;
	box-shadow: none !important;
	border: 0 !important;
	font-weight: normal !important;
	min-width: 50px;
	border-radius: 5px;
	color: #333;
}

.wf_conversation-compose .wf_photo {
	flex: 0 0 auto;
	border-radius: 0 0 5px 0;
	text-align: center;
	position: relative;
	width: 48px;
}

.wf_conversation-compose .wf_photo:after {
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	position: absolute;
	width: 0;
	height: 0;
	content: "";
	top: 0;
	right: -10px;
}

.wf_conversation-compose .wf_photo i {
	display: block;
	color: #7d8488;
	font-size: 24px;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left: 50%;
}

.wf_conversation-compose .wf_send {
	background: transparent;
	border: 0;
	cursor: pointer;
	flex: 0 0 auto;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0;
	position: relative;
	outline: none;
}

.wf_conversation-compose .wf_send .wf_circle {
	background: #008a7c;
	border-radius: 50%;
	color: #fff;
	position: relative;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wf_conversation-compose .wf_send .wf_circle i {
	font-size: 24px;
	margin-left: 5px;
}

/* Small Screens */

@media (max-width: 435px) {
	.wf_whatsapp {
		width: 90%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.wf_animate_button {
	background-color: #39887c;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 12px;
	display: flex;
	color: #fff;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	position: fixed;
	z-index: 99999;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	right: 30px;
	outline: none;
	bottom: 30px;
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		transform: scale(1.3);

		opacity: 0;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		transform: scale(1.3);

		opacity: 0;
	}
}
.zoomIn-flicker {
	-webkit-animation: zoomIn 1.2s infinite;
	-moz-animation: zoomIn 1.2s infinite;
	-o-animation: zoomIn 1.2s infinite;
	animation: zoomIn 1.2s infinite;
}
